@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Moderustic", sans-serif;
    font-weight: 500;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #ff572254;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: fixed;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.logo-title{
    font-family: "Fascinate Inline", system-ui;
    font-size: 2.2rem;
    color: #fff;
}
nav i{
    border: 1px solid chocolate;
    padding: 10px 18px ;
    border-radius: 60%;
    background-color: bisque;
    text-align: center;
    color: chocolate;
    font-weight: 700;
    font-family: "Moderustic", sans-serif;
    
}


   .nav-links a{
    margin: 0 15px;
    color: #fff;
   }


.search > input{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    outline-color:rgba(218, 150, 102, 0.9) ;
    background-color: #faebd769;
}
.search{
    /* background-color: greenyellow; */
    padding: 10px;
    position: relative;
    
}

.img{
    position: absolute;
    right: 23px;
    top: 32%;
}
header{
    min-height: 100vh;
    width: 100%;
    background: url(../img/pexels-chevanon-302901.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.hero-section{
    width: 100%;
    height: calc(100vh - 80px);
    /* background-color: orange; */
    padding: 0 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.hero-content{
    width: 500px;
    text-align: start;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    backdrop-filter: none;
    /* background-color: plum; */
}
.hero-content h1,p{
    color: #fff;
    margin: 15px 0;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #6D3624;
    color: #fff;
    border: none;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
}
.btn:hover{
    background-color: #916759;
    transition: 0.3s;
}
.hero-img{
    width: 100%;
    min-height: auto;
    /* background-color: palevioletred; */
    padding:5px;
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
   
}
.hero-img-content{
    width: 100px;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    /* background-color: plum; */
}
.hero-img-content p{
    font-size: 1rem;
    font-weight: 700;
    color: #222;
}
.coffee-section{
    padding: 20px;
    background-color: #dca7969e;
   
}
.coffee-title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}
.coffee-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 30px;
}

.coffee-container{
    width: 230px;
    min-height: 400px;
    /* border: 1px solid #222; */
    border-radius: 5px;
    padding:5px 5px;
    background-color: #80808052;
    flex: 1 1 15rem;
   
   
}
.coffee-container h4{
    font-size: 1.5rem;
    color: #fff;
}
.coffee-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* dessert section  */
.dessert-section{
    width: 100%;
    min-height: 500px;
    /* background-color: #dca7969e; */

}
.dessert-title{

    text-align: center;
    font-family: "Fascinate Inline", system-ui;
    font-size: 2rem;
    color: #fff;
    width: 100%;
    padding: 30px 0;
    /* background-color: red; */
}
.dessert-card-container{
    width: 100%;
    /* background-color: plum; */
    display: flex;
    justify-content: space-evenly;
  
    flex-wrap: wrap;
   gap: 50px 25px;
   padding: 20px;

}
.dessert-container{
    width: 250px;
    min-height: 500px;
    background-color: #80808038;
    padding: 2px 5px;
    border-radius: 5px;
    flex: 1 1 15rem;
}
.dessert-container h4 {
    margin: 5px 0;
    font-size: 1.3rem;
    color: #fff;
}
.dessert-containerp{
    margin: 3px 0;
}

.dessert-img{
    width: 100%;
    height: 350px;
    background-color: #6D3624;
    object-fit: cover;
}
.dessert-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}